alembic
annotated-doc
annotated-types
anyio
asttokens
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
comm
contourpy
cryptography
curl_cffi
cycler
databricks-sdk
debugpy
decorator
docker
executing
fastapi
filelock
Flask
flask-cors
fonttools
frozendict
fsspec
gitdb
GitPython
google-auth
graphene
graphql-core
graphql-relay
greenlet
gunicorn
h11
huey
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
Mako
MarkupSafe
matplotlib
matplotlib-inline
mlflow
mlflow-skinny
mlflow-tracing
mpmath
multitasking
nest-asyncio
networkx
numpy==1.26.4
opentelemetry-api
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging
pandas
parso
peewee
pexpect
pillow
platformdirs
prettytable
prometheus-fastapi-instrumentator
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
requests
rsa
scikit-learn
scipy
setuptools
six
skops
smmap
soupsieve
SQLAlchemy
sqlparse
stack-data
starlette
sympy
threadpoolctl
torch
torchvision
tornado
traitlets
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
websockets
Werkzeug
yfinance
zipp
